* {
    padding: 0px;
    margin: 0px;
}

.row {
    display: flex;
    text-align: center;
}

.col, .col-2, .col-3, .col-4 {
    height: 50px;
    background-color: aqua;
    margin: 5px;
}

.col {
    flex: 4;
}

.col-2 {
    flex: 3;
}

.col-3 {
    flex: 2;
}

.col-4 {
    flex: 1;
}